<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hap.extend.core.dataPermission.mapper.MapperMethodMapper" >
    <resultMap id="BaseResultMap" type="hap.extend.core.dataPermission.dto.MapperMethod" extends="com.hand.hap.mapper.StdMapper.STD" >
        <id column="HEADER_ID" property="headerId"/>
        <result column="SQLID_CODE" property="sqlId"/>
        <result column="DESCRIPTION" property="description"/>
    </resultMap>
</mapper>