<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hap.extend.core.dataPermission.mapper.RuleMappermethodMapper" >
    <resultMap id="BaseResultMap" type="hap.extend.core.dataPermission.dto.RuleMappermethod" extends="com.hand.hap.mapper.StdMapper.STD" >
        <id column="LINE_ID" property="lineId"/>
        <result column="HEADER_ID" property="headerId"/>
        <result column="RULE_ID" property="ruleId"/>
        <result column="ENABLE_FLAG" property="enableFlag"/>
        <result column="SQLID_CODE" property="sqlId"/>
        <result column="RULE_NAME" property="ruleName"/>
    </resultMap>

    <select id="selectAllMapping" resultMap="BaseResultMap">
        SELECT line.*,header.SQLID_CODE AS SQLID_CODE
        FROM HCOM_SQL_RULE_LINES line JOIN HCOM_SQL_RULE_HEADER header
        ON header.HEADER_ID=line.HEADER_ID
    </select>

    <select id="selectByRuleMappermethod" resultMap="BaseResultMap">
        SELECT line.*,rule.RULE_NAME AS RULE_NAME
        FROM HCOM_SQL_RULE_LINES line JOIN HCOM_DATA_RULES rule
        ON rule.RULE_ID=line.RULE_ID
        <where>
            <if test="headerId != null and headerId>0">
                and line.HEADER_ID = #{headerId,jdbcType=DECIMAL}
            </if>
            <if test="lineId != null and lineId>0">
                and line.LINE_ID = #{lineId,jdbcType=DECIMAL}
            </if>
            <if test="ruleId != null and ruleId>0">
                and line.RULE_ID = #{ruleId,jdbcType=DECIMAL}
            </if>
            <if test="enableFlag != null">
                and line.ENABLE_FLAG = #{enableFlag}
            </if>

            <if test="ruleName != null">
                <bind name="pattern_ruleName" value="'%' + _parameter.ruleName + '%'" />
                AND rule.RULE_NAME like #{pattern_ruleName}
            </if>
        </where>
    </select>
</mapper>