<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hap.extend.core.dataPermission.mapper.RuleUserMapper" >
    <resultMap id="BaseResultMap" type="hap.extend.core.dataPermission.dto.RuleUser" extends="com.hand.hap.mapper.StdMapper.STD" >
        <id column="mapping_id" property="mapperId"/>
        <result column="rule_id" property="ruleId"/>
        <result column="user_id" property="userId"/>
        <result column="is_include" property="isInclude"/>
        <result column="user_name" property="userName"/>
        <result column="rule_name" property="ruleName"/>
    </resultMap>
    <select id="selectByRuleUser" resultMap="BaseResultMap">
        SELECT hapextend_rule_user.*,sys_user.user_name,hapextend_rules.rule_name FROM
        hapextend_rule_user
        JOIN hapextend_rules ON hapextend_rule_user.rule_id=hapextend_rules.rule_id
        JOIN sys_user ON sys_user.user_id=hapextend_rule_user.user_id
        <where>
            <if test="userId != null and userId>0">
                and hapextend_rule_user.user_id = #{userId,jdbcType=DECIMAL}
            </if>
            <if test="ruleId != null and ruleId>0">
                and hapextend_rule_user.rule_id = #{ruleId,jdbcType=DECIMAL}
            </if>
            <if test="userName != null">
                <bind name="pattern_userName" value="'%' + _parameter.userName + '%'" />
                AND sys_user.user_name like #{pattern_userName}
            </if>
            <if test="ruleName != null">
                <bind name="pattern_ruleName" value="'%' + _parameter.ruleName + '%'" />
                AND hapextend_rules.rule_name like #{pattern_ruleName}
            </if>
        </where>
    </select>
</mapper>