<#include "../include/header.html">
<body>
<script src="${base.contextPath}/resources/js/operationPermission/core_libs.js" charset="UTF-8"></script>
<!--获取控制代码（应用控制代码推荐在页面的结束位置引用,引用的js文件为apply_op_permission.js）-->
<script src="${base.contextPath}/resources/js/operationPermission/operationPermission.js" charset="UTF-8"></script>
<!--关于预先提供的部分js函数封装的说明：这部分函数封装主要是适用于规范的hap开发过程中，
grid中约定使用情况下的处理，对于不同的项目可以参照着实现；
这一部分的代码不一定适用于所有项目-->
<div>
    <div id="content-container">
        <div id="page-content">
            <div class="panel" id="demo">
                <!--<form class="form-horizontal" id="query-form">-->
                    <!--<div class="panel-body col-sm-offset-0">-->
                        <!--<div class="col-sm-3">-->
                            <!--<div class="form-group">-->
                                <!--<input id="lov" name="lov" placeholder="选择目标用户" data-bind="value:data.userId,text:data.userName" style="width: 250px" />-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-footer text-right">-->
                        <!--<span class="btn btn-success" data-bind="click:switchUserFunction" type="submit">切换</span>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
        </div>
        <div id="grid"></div>
        <div>
            <span id="btn_test" class="btn btn-success">测试按钮</span>
            <span class="btn btn-success" onclick="hideColumn_1()">隐藏列</span>
            <span class="btn btn-success" id="btn_create">新建</span>
        </div>
    </div>
</div>
<script>
    var baseUrl_switchUser = "${base.contextPath}/switch_user/";
    var viewModel = kendo.observable({
        data:{},
//        switchUserFunction:function () {
//            var userId = viewModel.data.userId;
//            if(userId>0){
//                var parameterMap = {targetUserId: userId};
//                $.ajax({
//                    type: 'POST',
//                    url: baseUrl_switchUser+"switch_to" ,
//                    data: parameterMap,
//                    success: function (data) {
//                        if(data.success){
//                            console.log("success");
//                            window.parent.location.reload(true);
//                        }
//                    },
//                    async:true,
//                    dataType: "json"
//                });
//            }else {
//                kendo.ui.showWarningDialog({
//                    title: $l('hap.tip.info'),
//                    message: "请先选择要切换的用户"
//                });
//            }
//        }
    });
    var constData = {'rows':[
        {employeeCode:1,employeeName:'jone',gender:'M',birthday:'2016-01-01'},
        {employeeCode:2,employeeName:'haha',gender:'F',birthday:'2016-01-02'},
        {employeeCode:3,employeeName:'hehe',gender:'F',birthday:'2016-01-03'}
    ],'total':3};

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: function (args) {
                args.success(constData);
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "employeeCode",
                fields: {
                    employeeName:{type:"string"},
                    gender:{type:"string"},
                    birthday:{type:"string"}
                }
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        height: 150,
        resizable: true,
        autoResize:true,
        rownumber: true,
        editable:true,
        edit:function (e) {
//            console.log(e);
//            console.log(e.model);
            window.parent.myEvent = e;
            //通过e.container[0].cellIndex获取列的下标，
            //通过e.container.children().attr("readonly","readonly")设置为只读，无法编辑
            //通过grid.setOptions({key:value})覆盖处于grid第一阶梯的属性，如editable
        },
        columns: [
            {
            field: "employeeCode",
            title: '员工编号',
            width: 100
            }, {
            field: "employeeName",
            title: '员工姓名',
            editable:false,
            width: 120
        }, {
            field: "gender",
            title: '性别',
            width: 50,
            template: function(dataItem) {
                return dataItem['gender'] == 'M' ? '男' : '女'
            }
        }, {
            field: "birthday",
            title: '生日',
            width: 100
        },
        {
            attributes: {style: "text-align:center;padding:0px"},
            field : "",
            title : '测试',
            width : 50,
            template: function (rowData) {
                return '<a name="btnTest" OP_PMS_name="btnForTest" class="btn btn-danger" onclick="grid_btn_click()">测试</a>';
            }
        }]
    });


    function grid_btn_click() {
//        $.each($("a[name='btnTest']"), function (key, value) {
//            $(value).attr("disabled","disabled");
//        });
        kendo.ui.showConfirmDialog({
            title:$l('hap.tip.info'),
            message: "测试"
        }).done(function(event){

        });
    }


    window.parent.grid = $("#grid").data("kendoGrid");



//    $("#lov").kendoLov(${lovProvider.getLov(base.contextPath, base.locale, "user_lov")});
    kendo.bind($('#demo'), viewModel);

    function hideColumn_1() {
        gridUtils_forbidEditColumns("grid",[1,2,3,4]);
//        console.log("grid对象\n");
//        console.log(grid);
//        console.log(grid.columns);
//        console.log(grid.columnMenu);
        window.parent.batchHideGridColumns([1],"grid");
    }
    //$("#"+_gridDivId).data("kendoGrid").dataSource.options.fields可以获取全部field，包括自动行号
</script>
<script src="${base.contextPath}/resources/js/operationPermission/apply_op_permission.js" charset="UTF-8"></script>

</body>
</html>