<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hap.extend.core.operation.mapper.PermissionTypeMapper" >
    <resultMap id="BaseResultMap" type="hap.extend.core.operation.dto.PermissionType" extends="com.hand.hap.mapper.StdMapper.STD" >
        <id column="ASSIGN_ID" property="assignId"/>
        <result column="RESOURCE_ID" property="resourceId"/>
        <result column="ASSIGN_TYPE" property="assignType"/>
        <result column="TYPE_ID" property="assignValue"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="ENABLE_FLAG" property="enableFlag"/>
    </resultMap>
</mapper>