<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <!--add by yyz -->
    <!--可以在下面的list标签中设置通用数据屏蔽的扩展插件-->
    <bean id="dataPermissionDemoPlugin" class="hap.extend.core.dataPermission.interceptor.DemoPlugin"/>
    <bean id="dataPermissionPluginWrapper" class="hap.extend.core.dataPermission.interceptor.DataPermissionPluginWrapper">
        <property name="plugins">
            <list>
                <ref bean="dataPermissionDemoPlugin"/>
            </list>
        </property>
    </bean>
    <!--add end-->
</beans>