<#include "../include/header.html">
<body>
<div>
    <div id="content-container">
        <div id="page-content">
            <div class="panel" id="demo">
                <form class="form-horizontal" id="query-form">
                    <div class="panel-body col-sm-offset-0">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input id="lov" name="lov" placeholder="选择目标用户" data-bind="value:data.userId,text:data.userName" style="width: 250px" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <span class="btn btn-success" data-bind="click:switchUserFunction" type="submit">切换</span>
                    </div>
                </form>
            </div>
        </div>
        <div id="details"></div>
    </div>
    <div style="">
        ${attachmentProvider.getAttachHtml("IMG2","1",base.locale, base.contextPath,false,true)}
    </div>
</div>
<script>
    var baseUrl_switchUser = "${base.contextPath}/switch_user/";
    var viewModel = kendo.observable({
        data:{},
        switchUserFunction:function () {
            var userId = viewModel.data.userId;
            if(userId>0){
                var parameterMap = {targetUserId: userId};
                $.ajax({
                    type: 'POST',
                    url: baseUrl_switchUser+"switch_to" ,
                    data: parameterMap,
                    success: function (data) {
                        if(data.success){
                            console.log("success");
                            window.parent.location.reload(true);
                        }
                    },
                    async:true,
                    dataType: "json"
                });
            }else {
                kendo.ui.showWarningDialog({
                    title: $l('hap.tip.info'),
                    message: "请先选择要切换的用户"
                });
            }
        }
    });
    $("#lov").kendoLov(${lovProvider.getLov(base.contextPath, base.locale, "user_lov")});
    kendo.bind($('#demo'), viewModel);
</script>
</body>
</html>